{% load static %} 
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

 <!-- <footer class="border-top mt-5 py-3 " id="auctionagentfooter"> -->  
    <div class="auctionagentfooter">
        <div class="container-fluid  mt-3">
            <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="{% static 'imgs/auctionagent-iofooter.io.png' %}" 
                alt="Auction Agent Logo"
                width="200" height="200"
                >
            </a>
        </div>
   </div>
<!-- </footer> -->

